h2 {
    text-align: center;
    justify-content: center;
    font-size: 50px;
    color: #ef78a6;
    text-shadow: 4px 4px #eed9f2;
}

.skills-container {
    background: #ffffff;
    padding: 10px;
    border-radius: 25px;
}

.chip:hover {
    transform: scale(1.5);
    transition: transform .4s ease;
}